.weatherData {
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

.weatherData h2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0.6rem;
}

.weatherData h2 svg {
  font-size: 1.2rem;
}

.weatherData .city {
  margin: 0.6rem 0.9rem 0.6rem 0.3rem;
}

.weatherData .country {
  height: 20px;
}

.weatherData .temperature {
  font-size: 4rem;
}

.descriptionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionContainer 
.description {
  text-transform: capitalize;
  font-weight: bold;
  margin: 0.2rem;
}

.descriptionContainer 
.weatherIcon {
  margin-bottom: 5px;
}

.detailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsContainer .humidity {
  border-right: 1px solid #fff;
  margin: 1rem;
}

.detailsContainer .humidity span {
  margin-right: 1rem;
}

.detailsContainer span {
  font-size: 0.950rem;
  margin: 0.6rem;
}

.detailsContainer .humidity,
.detailsContainer .wind {
  display: flex;
  align-items: center;
}
